@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Heellöö</h1>
    <p>Burası RabbitMQ test ekranımız.</p>

    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <label>Başlık</label>
                </div>
                <div class="col-md-8">
                    <input asp-for="NotificationModel.Message" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Mesaj</label>
                </div>
                <div class="col-md-8">
                    <input asp-for="NotificationModel.Description" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary pull-right">GÖNDER</button>
                </div>
            </div>
        </form>
    </div>

</div>
